.form__wrapper {
    max-width: 700px;
    padding: 20px;
    padding-bottom: 50px;
    margin: 30px auto;
    background-image: linear-gradient(to bottom, rgba(173, 216, 230, 0.8), rgba(65, 105, 225, 0.5));

    display: flex;
    flex-direction: column;
    align-items: center;
}

.form {
    display: flex;
    flex-direction: column;
    width: 70%;
}

.form_header {
    text-transform: uppercase;
    color: #2a448f;
    font-weight: light;
    font-size: 22px;
    margin: 20px;
}


.input {
    background-color: transparent;
    margin: 10px;
    padding: 10px;
    border: none;
    background-color: #add8e6;
}

@mixin hoverEffect($hoverColor, $fontColor) {
    &:hover {
        color: $fontColor;
        background-color: $hoverColor;
    }
}

@mixin button($theme: rgba(255, 0, 0, 0.7), $hoverColor: none,$fontColor: none) {
    @include hoverEffect($hoverColor, $fontColor);
    background: $theme;
    align-self: center;
    width: 40%;
    margin-top: 20px;
    padding: 10px;
    border: none;
    color: #add8e6;
}



.add_button {
    @include button($theme: #2a448f, $hoverColor: rgb(211,211,211), $fontColor: #2a448f);
}

.button {
    @include button($hoverColor: rgb(211,211,211), $fontColor: rgb(255, 0, 0));
}
